@model Product
@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <h1>Create</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Desc">Desc</label>
                <input asp-for="Desc" class="form-control" placeholder="Desc">
                <span class="text-danger" asp-validation-for="Desc"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="TeamId">Team</label>
                <select asp-for="TeamId" class="form-control" id="TeamId" asp-items="@(new SelectList(ViewBag.Teams,"Id","FullName"))">
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="AmenityIds">Amenities</label>
                <select asp-for="AmenityIds" class="form-control" id="AmenityIds" asp-items="@(new SelectList(ViewBag.Amenities,"Id","Name"))">
                </select>
            </div>
           

        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="CityId">City</label>
                <select asp-for="CityId" class="form-control" id="CityId" asp-items="@(new SelectList(ViewBag.Cities,"Id","Name"))">
                </select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" class="form-control" id="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))">
                </select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="StatusId">Status</label>
                <select asp-for="StatusId" class="form-control" id="StatusId" asp-items="@(new SelectList(ViewBag.Statuses,"Id","Name"))">
                </select>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="CostPrice">CostPrice</label>
                <input asp-for="CostPrice" class="form-control" placeholder="CostPrice">
                <span class="text-danger" asp-validation-for="CostPrice"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SalePrice">SalePrice</label>
                <input asp-for="SalePrice" class="form-control" placeholder="SalePrice">
                <span class="text-danger" asp-validation-for="SalePrice"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Rate">Rate</label>
                <input asp-for="Rate" class="form-control" placeholder="Rate">
                <span class="text-danger" asp-validation-for="Rate"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="HomeArea">HomeArea</label>
                <input asp-for="HomeArea" class="form-control" placeholder="HomeArea">
                <span class="text-danger" asp-validation-for="HomeArea"></span>
            </div>
        </div>
        <div class="form-row d-flex justify-content-between  align-items-center">
            <div class="form-group col-md-7">
                <label asp-for="Location">Location</label>
                <input asp-for="Location" class="form-control" placeholder="Location">
                <span class="text-danger" asp-validation-for="Location"></span>
            </div>
            <div class="form-group col-md-4">
                <input asp-for="IsFeatured" class="form-check-input" placeholder="IsFeatured">
                <label asp-for="IsFeatured" class="form-check-label">IsFeatured</label>
                <span class="text-danger" asp-validation-for="IsFeatured"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="Rooms">Rooms</label>
                <input asp-for="Rooms" class="form-control" placeholder="Rooms">
                <span class="text-danger" asp-validation-for="Rooms"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Bedrooms">Bedrooms</label>
                <input asp-for="Bedrooms" class="form-control" placeholder="Bedrooms">
                <span class="text-danger" asp-validation-for="Bedrooms"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Bathrooms">Bathrooms</label>
                <input asp-for="Bathrooms" class="form-control" placeholder="Bathrooms">
                <span class="text-danger" asp-validation-for="Bathrooms"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ParkingCount">ParkingCount</label>
                <input asp-for="ParkingCount" class="form-control" placeholder="ParkingCount">
                <span class="text-danger" asp-validation-for="ParkingCount"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="WhichFloor">WhichFloor</label>
                <input asp-for="WhichFloor" class="form-control" placeholder="WhichFloor">
                <span class="text-danger" asp-validation-for="WhichFloor"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="HouseFloor">HouseFloor</label>
                <input asp-for="HouseFloor" class="form-control" placeholder="HouseFloor">
                <span class="text-danger" asp-validation-for="HouseFloor"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CreatedAt">CreatedAt</label>
                <input asp-for="CreatedAt" class="form-control" placeholder="CreatedAt">
                <span class="text-danger" asp-validation-for="CreatedAt"></span>
            </div>
           
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="PosterFile">PosterFile</label>
                <input asp-for="PosterFile" class="form-control" placeholder="PosterFile">
                <span class="text-danger" asp-validation-for="PosterFile"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="ImageFiles">ImageFiles</label>
                <input asp-for="ImageFiles" class="form-control" placeholder="ImageFiles">
                <span class="text-danger" asp-validation-for="ImageFiles"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>

    </form>
</div>




